html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: burlywood;
    overflow-x: hidden;
    scroll-behavior: smooth;
    justify-content: center;
    align-items: center;
}

h1{
	color: sandybrown;
	text-align: center;
	background-image: url("imagenes/entrada.jpg");
  	background-size: cover;
  	background-position: center;
  	padding: 150px 0px;
  	text-shadow: 2px 2px 5px rgba(0,0,0,0.6);
	margin: 0;
	width: 100%;
}

.cuadrointro{
	display:flex;
	align-items: center;
	width: 100%;
	margin-top: -100px;
}

.introduccion{
	background-color: rgba(255, 255, 255, 0.7);
	margin: 0 auto;
	padding: 12px 24px;
	text-align: center;
	border-radius: 10px;
}

.navbar{
	padding: 10px;
	background-color: antiquewhite;
	margin-top: 28px;
}

.nav-list{
	display: flex;
	flex-direction: row;
	margin: 0 auto;
	justify-content: center;
	padding: 0;
	gap: 15px;
	list-style: none;
}

.nav-list li{
	display:flex;
	padding: 10px 20px;
	margin-left: 4px;
	margin-right: 4px;
}

.cuadrados{
    background-color:sandybrown;
    margin-left: 2px;
    margin-right: 2px;
    text-align: center;
    padding: 10px 20px;
}

.enlacecuadros{
	text-decoration: none;
	color: black;
}

.contenedor{
    text-align: center;
    background-color: beige;
    height: 100%;
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.datos{
    line-height: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nombre, .apellidos, .email,.mensaje {
    width: 90%;
    max-width: 410px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size:medium;
}

.submit{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;
    max-width: 210px;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size:medium;
}
