html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: burlywood;
  overflow-x: hidden;
}

h1{
	color: sandybrown;
	text-align: center;
	background-image: url("imagenes/entrada.jpg");
  	background-size: cover;
  	background-position: center;
  	padding: 150px 0px;
  	text-shadow: 2px 2px 5px rgba(0,0,0,0.6);
	margin: 0;
	width: 100%;
}

.cuadrointro{
	display:flex;
	align-items: center;
	width: 100%;
	margin-top: -100px;
}

.introduccion{
	background-color: rgba(255, 255, 255, 0.7);
	margin: 0 auto;
	padding: 12px 24px;
	text-align: center;
	border-radius: 10px;
}

.navbar{
	padding: 10px;
	background-color: antiquewhite;
	margin-top: 28px;
}

.nav-list{
	display: flex;
	flex-direction: row;
	margin: 0 auto;
	justify-content: center;
	padding: 0;
	gap: 15px;
	list-style: none;
}

.nav-list li{
	display:flex;
	padding: 10px 20px;
	margin-left: 4px;
	margin-right: 4px;
}

.cuadrados{
background-color:sandybrown;
border-color: rgb(209, 27, 27);
margin-left: 2px;
margin-right: 2px;
text-align: center;
padding: 10px 20px;
}

.enlacecuadros{
	text-decoration: none;
	color: black;
}

h2{
	text-align: center;
	margin-top: 5px;
	padding: 20px;
}

.container{
	display:flex;
	background-color: burlywood;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 10px;
	padding: 20px;
	margin-top: -20px;
}

.carta{
  flex: 1 1 0;
  aspect-ratio: 4/4;
  max-width: 300px;
  background-color: #f2f2f2;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  text-align: center;
  margin: 10px;
}

.carta img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-bottom: 1px solid #ccc;
}

.carta p{
	text-align: center;
	margin: 0 auto;
	text-decoration: none;
	color:black;
}

@media (max-width: 632px){

  .container{
    flex-direction: column;
	align-items: center;
  }

  .carta{
	height: 90%;
	width: width 90%;
	margin-bottom: 20px;
  }
}
